.disk {
    .boxIcon("../images/icons/DISK.png");
    .fs {
        position: absolute;
        left: -66px;
        font-weight: 700;
        color: @rbpColor;
        top: 40px;
        .arch & {
            color: @archColor;
        }
    }
}
