header {
    top: 0;
    background-color: @rbpColor;
    z-index: 9;
    width:100%;
    height: 3rem;
    position: absolute;
    box-shadow: @headerShadow;
    &.arch {
        background-color: @archColor;
    }
}

.headerWithotShadow {
    box-shadow: none;
}

nav {
    overflow: hidden;
    background-color:#eee;
    border-right:solid 1px #ccc;
    margin: 0;
    position: absolute;
    top: 3rem;
    left: -210px;
    width: 200px;
    height: 100vh;
    transition: left 0.5s;
    box-shadow: 3px 5px 10px #222;
    ul {
        padding:0;
        margin:0;
        width:100%;
        list-style-type:none;
        padding: 0;
    }
    
    li {
        width:100%;
        padding: 10px;
        border-bottom:solid 1px #ccc;
        &:last-child{
            border-bottom: 0;
        }
        a {
            font-size: 12px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            text-shadow:0 0 1px rgba(255,255,255,0.3);
            width:100%;
            color:#555;
        }
    }
    .activeMenu & {
        left: -1px
    }
}

.menu {
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px;
    span {
        position: relative;
        display: block;
        background: transparent;
        padding: 0;
        margin: 0;
        .activeMenu & {
            transform: rotate(180deg);
            &::after {
                transform: rotate(-45deg);
                top: 1px;
                right: -7px;
                width: 70%;
            }
            &::before {
                transform: rotate(45deg);
                top: -3px;
                right: -7px;
                width: 70%;
            }
        }   
    }
}

.menu span, .menu span::before, .menu span::after {
    top: 10px;
    background:#fff;
    width: 20px;
    margin: auto;
    height:3px;
    transition-property:transform, width;
    transition-duration: 0.5s, 0.5s;
}

.menu span::after,
.menu span::before {
    content: "";
    display: block;
    position:relative;
}

.menu span::before {
    top: -6px;
}

.menu span::after {
    top: 3px;
}
