.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
    position: relative;
    top: 4px;
    &.iconMedium {
        background-size: 2rem;
        height: 2rem;
        width: 2rem;
    }
    &.iconSystem {
        background-image: url("../images/icons/system.png");
    }
    &.iconRam {
        background-image: url("../images/icons/ram.png");
    }
    &.iconGpu {
        background-image: url("../images/icons/gpu.png");
    }
    &.iconDisk {
        background-image: url("../images/icons/disk.png");
    }
    &.iconCpu {
        background-image: url("../images/icons/cpu.png");
    }
    &.iconNetwork {
        background-image: url("../images/icons/network.png");
    }
    &.iconCam {
        background-image: url("../images/icons/cam.png");
    }
    &.iconSensor {
        background-image: url("../images/icons/sensor.png");
    }
    &.iconTemperature {
        background-image: url("../images/icons/temperature.png");
    }
    &.iconHumidity {
        background-image: url("../images/icons/humidity.png");
    }
}
