body {
    font-family: raleway;
    background: #C5C5C5;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.6s;
    visibility: hidden;
    opacity: 0;
    .activeMenu ~ & {
        visibility: visible;
        opacity: 1;
        z-index: 8;
    }
}

.wrapper {
    padding-top: 3.6rem;
    width: 95%;
    margin: 0px auto;
    overflow-x: hidden;
    &> div {
        position: relative;
        right: -400px;
        display: none;
        opacity: 0;
        width: 100%;
        &.active {
            display: inherit;
            opacity: 1;
            right: 0px;
            .header {
                overflow-x: show;
            }
        }
    }
}

.normalBox {
    .boxNormal();
}

.veryHight {
    color: red;
}

.hight {
    color: yellow;
}

.perfect {
    color: green;
}

.low {
    color: blue;
}
