.ram, .swap {
    .boxIcon("../images/icons/RAM.png");
    &:after {
        content: "SWAP";
        position: absolute;
        left: -72px;
        top: 42px;
        font-weight: 700;
        color: @rbpColor;
        .arch & {
            color: @archColor;
        }
    }
    &:first-child:after {
        content: "RAM";
        left: -68px;
    }
}
