.boxNormal() {
    background-color: #FFF;
    width: 100%;
    box-shadow: 0px 2px 5px #C7C7C7;
    border-radius: 2px;
    border: 1px solid #CCC;
    margin: 0px 0px 10px;
    position: relative;
    padding: 10px;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #666;
    .boxHover();
    span {
        font-weight: 400;
        color: #222;
    }
}

.boxIcon(@image) {
    background: white;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #C7C7C7;
    height: 60px;
    left: 100px;
    margin: 0 auto 10px;
    padding: 20px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    .boxHover();
    &:before {
        background-color: @rbpColor;
        background-image: url(@image);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80px;
        box-shadow: 0px 2px 5px #C7C7C7;
        content: "";
        font-weight: 700;
        height: 100px;
        left: -100px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100px;
        .boxHover();
        .arch & {
            background-color: @archColor;
        }
    }
}

.boxHover() {
    &:hover {
        transition: box-shadow 0.25s ease 0s;
        box-shadow: @hoverShadow; 
    }
}
