#sensors {
    .header {
        background-color: #1793D1;
        width: 100%;
        height: 3rem;
        z-index: 9;
        position: absolute;
        top: -3.6rem;
        left: 3rem;
        &> div{
            display: inline-block;
            width: 40%;
            text-align: center;
            margin: 0.3rem -3px;
            padding: 0;
            border-left: solid 1px #CCC;
            &:first-child {
                border-width: 0;
            }
        }
    }
    &>div:not(.header) {
        position: relative;
        left: O;
        transition: left 0s ease 0s;
        text-align: left;
        width: 200vw;
        &>div {
            text-align: left;
            display: inline-block;
        }
    }
    #temperature {
        font-size: 15rem;
    }
    #humidifity {
        font-size: 10rem;
    }
    .high {
        color: #D9534F;
    }
    .normal {
        color: #5CB85C;
    }
    .low {
        color: #5BC0DE;
    }
}
