#system > div:first-child {
    .boxIcon("../images/distros/arch.png"); 
    &.arch:before {
        background-color: @archColor !important;
    }
    &:first-child{
        font-size: 1.8rem;
        text-transform: capitalize;
        div:last-child {
            font-size: 1rem;
            color: #888;
        }
    }
    &:last-child{ 
        padding: 10px;
        letter-spacing: 0.5px;
        font-weight: 700;
        color: #666;
        span{
            font-weight: 400;
            color: #222;
        }
    }
}
