<img src="http://tribelife.printme3d.com/wp-content/uploads/2015/08/raspberry-pi-LOGO-800x550.png" />
                                                                           
<div>Sistema operativo: <span data-bind="text: os.name"></span></div>      
<div>Distribución: <span data-bind="text: os.dist"></span></div>           
<div>Kernel: <span data-bind="text: os.kernel"></span></div>               
<div>CPUs: <span data-bind="text: cpu.used"></span></div>                  
<div>Memoria:                                                              
  <span data-bind="text: memory.memory_used"></span> MB                    
  (<span data-bind="text: memory.memory_percent"></span>%)                 
</div>                                                                     
<div>Disco:                                                                
    <span data-bind="text: disk.used"></span> GB                             
</div>                                                                     
