<div id="cpu" class="normalBox">
  <div data-bind="visible: cpu.vendor">Fabricante: <span data-bind="text: cpu.vendor"></span></div>
  <div>Modelo: <span data-bind="text: cpu.model"></span></div>
  <div>Número CPUs: <span data-bind="text: cpu.count"></span></div>
  <div>CPU Hz: <span data-bind="text: cpu.total"></span></div>
  <div>CPU usada: <span data-bind="text: cpu.used"></span></div>
  <div>Temperatura: <span data-bind="text: cpu.temperature"></span>°</div>
</div>
