<div id="disks" data-bind="css: os.dist">
  <div data-bind="foreach: disk.partitions">
    <div class="disk">
      <div data-bind="text: device"></div>
      <div data-bind="text: mountpoint"></div>
      <div class="fs" data-bind="text: fs"></div>
      <div>
        <span data-bind="text: used"></span> GB 
        (<span data-bind="text: percent"></span>%) / 
        <span data-bind="text: total"></span> GB 
      </div>
    </div>
  </div>
</div>
