<header data-bind="css: os.dist">
<div class="menu" data-bind="click: showMenu">
  <span></span>
</div>
<nav>
  <div>
    <ul>
      <li data-bind="click: changeSection">
        <span class="icon iconSystem"></span>
        <a href="#">Resume</a>
      </li>
      <li data-bind="click: changeSection">
        <span class="icon iconSystem"></span>
        <a href="#">System</a>
      </li>
      <li data-bind="click: changeSection">
        <span class="icon iconCpu"></span>
        <a href="#">CPU</a>
      </li>
      <li data-bind="click: changeSection">
        <span class="icon iconRam"></span>
        <a href="#">Memory</a>
      </li>
      <li data-bind="click: changeSection">
        <span class="icon iconDisk"></span>
        <a href="#">Disks</a>
      </li>
      <li data-bind="click: changeSection">
        <span class="icon iconNetwork"></span>
        <a href="#">Network</a>
      </li>
      <li data-bind="click: changeSection">
        <span class="icon iconSensor"></span>
        <a href="#">Sensors</a>
      </li>
      <li data-bind="click: changeSection">
        <span class="icon iconCam"></span>
        <a href="#">Camara</a>
      </li>
      <li data-bind="click: changeSection">
        <span class="icon iconCam"></span>
        <a href="#">Configuration</a>
      </li>
    </ul>
  </div>
</nav>
</header>

