<div id="memory" data-bind="css: os.dist">
  <div class="ram">
    <span data-bind="text: memory.memory_used"></span> MB 
    (<span data-bind="text: memory.memory_percent"></span>%) / 
    <span data-bind="text: memory.memory_total"></span> MB 
  </div>
  <div class="swap" data-bind="visible: memory.swap_total">
    <span data-bind="text: memory.swap_used"></span> MB 
    (<span data-bind="text: memory.swap_percent"></span>%) / 
    <span data-bind="text: memory.swap_total"></span> MB 
  </div>
</div>
