<div id="network" data-bind="css: os.dist">
  <div data-bind="foreach: network">
    <div class="normalBox" data-bind="visible: data.active">
      <div data-bind="text: name"></div>
      <div data-bind="text: data.addr"></div>
    </div>
  </div>
</div>
