<div id="sensors">
  <div class="header">
    <div>
        <a href="#"><span data-blind="click: selectSensor" class="icon iconMedium iconTemperature"></span></a>
    </div>
    <div>
        <a href="#"><span data-blind="click: selectSensor" class="icon iconMedium iconHumidity"></span></a>
    </div>
  </div>
  <div>
    <div id="temperature">
      <span>23<span>°
    </div>
    <div id="humidifity">
      <span>50<span>%
    </div>
  </div>
</div>
