<div id="system">
  <div data-bind="css: os.dist">
    <div data-bind="text: os.dist"></div>
    <div>
      <span data-bind="text: os.kernel"></span> 
      <span data-bind="text: os.architecture"></span>
    </div>
  </div>
  <div class="normalBox">
    <div>Hostname: <span data-bind="text: os.hostname"></span></div>
    <div>User: <span data-bind="text: os.user"></span></div>
    <div>Shell: <span data-bind="text: os.shell"></span></div>
    <div>Terminal: <span data-bind="text: os.terminal"></span></div>
    <div>Uptime: <span data-bind="text: os.uptime"></span></div>
  </div>
</div>
